* {
    border: 1px solid red;
}

nav {
    border: 5 px solid blue;
}

ul {
    border: 2 px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {

}

html > body {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.center-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center-content
{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    font-size: 5em;
}



/*
media query - for screen sizes <= 320 
*/