/** {
    border: 1px solid red;
}



ul {
    border: 2 px solid black;
}*/

/* begin navigation styles */
.hamburger, .close {
    font-size: 2rem;
    color: fuchsia;
}
nav {
    /*border: 1px solid #333;
    margin: 1rem auto;*/
    background-color: #eee;
    padding: 1rem;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    text-align: center;

    /*animate navbar toggle to slide navbar down*/
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

nav:target {
    transform: translateY(0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
nav li {
    padding: 0.5rem 1rem;
}
nav li:hover {
    background-color: #08d1f0;
}

nav a {
    display: block;
    color: fuchsia;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}
nav a:focus {
    background-color: blue;
}
nav a:hover {
    color: darkred;
}

.close:hover {
    background-color: transparent;
}
/*End of mobile nav styles*/

/*Begin desktop styles*/

@media (min-width: 750px) {
    header {
        margin: 1rem auto;
    }
    nav {
        border: 5 px solid blue;
        padding: 0;
        position: static;
        height: auto;
        transform: translateY(0);
    }
    nav ul {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .hamburger, .close {
        display: none;
    }
    .close:hover {
        background-color: transparent;
}
    html {
        box-sizing: border-box;
        height: 100%;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 40px;
        font-size: 1.2rem;
    }

    .about-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10% 10%;
        padding: 20px 20px;
    }

    .about_image {
        width: 100vw;
        height: auto;
        margin-bottom: 4rem;
    }

    .center-page
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .center-content
    {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        word-wrap: break-word;
    }

    .hero {
        background-image:url('../assets/images/image1.png');
        background-position: center;
        width: 100vw;
        height: 75vh;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero > h1 {
        font-size: 4.5rem;
        color: white;
        text-shadow: 5px 5px #558ABB;
        text-align: center;
        
    }

    section.contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 5px;
        border-color: #02060bad;
    }
    form {
        display: block;
        width: 650px;
    }
    #get-in-touch > input[type=text]:nth-child(3) {
        width: 100%;
        height: 2.5rem;
        background-color: rgba(211, 211, 211, 0.837);
        border: none;
        box-shadow: 4px 4px #558abbbc;
        margin-bottom: 1.5rem;
    }
    #get-in-touch > input[type=email]:nth-child(7) {
        width: 100%;
        height: 2.5rem;
        background-color: rgba(211, 211, 211, 0.837);
        border: none;
        box-shadow: 4px 4px #558abbbc;
        margin-bottom: 1.5rem;
    }
    #get-in-touch > textarea {
        width: 100%;
        border: none;
        background-color: rgba(211, 211, 211, 0.837);
        box-shadow: 4px 4px #558abbbc;
        margin-bottom: 1.5rem;
    }
    #get-in-touch > button {
        width: 100%;
        height: 2.5rem;
        background-color: rgb(69, 114, 23);
        box-shadow: 4px 4px #558abbbc;
        color: white;
        font: inherit;
    }

    .gif_search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75vw;
    }

    .txtsearch {
        width: 75vw;
        height: 2.5rem;
        background-color: rgba(211, 211, 211, 0.837);
        border: none;
        box-shadow: 4px 4px #558abbbc;
        margin: 1.5rem;
        padding: 2rem;
    }
    #btn-search {
        width: 100%;
        height: 2.5rem;
        background-color: rgb(69, 114, 23);
        box-shadow: 4px 4px #558abbbc;
        color: white;
        font: inherit;
    }
    #gif-search > button:nth-child(5){
    
        width: 100%;
        background-color: red;
        height: 2.5rem;
        font: inherit;
        color: white;
    
    }
    #btn-reset {
        display: block;
        color: white;
        width: 100%;
    }

    .output {
        display: grid;
        grid-template-rows: subgrid;
    }
    }
/* End of desktop Styles */


html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 40px;
    font-size: 1.2rem;
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 10%;
    padding: 20px 20px;
}

.about_image {
    width: 100vw;
    height: auto;
    margin-bottom: 4rem;
}

.center-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center-content
{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    word-wrap: break-word;
}

.hero {
    background-image:url('../assets/images/image1.png');
    background-position: center;
    width: 100vw;
    height: 75vh;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > h1 {
    font-size: 4.5rem;
    color: white;
    text-shadow: 5px 5px #558ABB;
    text-align: center;
    
}

section.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 5px;
    border-color: #02060bad;
}
form {
    display: block;
    width: 450px;
}
#get-in-touch > input[type=text]:nth-child(3) {
    width: 100%;
    height: 2.5rem;
    background-color: rgba(211, 211, 211, 0.837);
    border: none;
    box-shadow: 4px 4px #558abbbc;
    margin-bottom: 1.5rem;
}
#get-in-touch > input[type=email]:nth-child(7) {
    width: 100%;
    height: 2.5rem;
    background-color: rgba(211, 211, 211, 0.837);
    border: none;
    box-shadow: 4px 4px #558abbbc;
    margin-bottom: 1.5rem;
}
#get-in-touch > textarea {
    width: 100%;
    border: none;
    background-color: rgba(211, 211, 211, 0.837);
    box-shadow: 4px 4px #558abbbc;
    margin-bottom: 1.5rem;
}
#get-in-touch > button {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(69, 114, 23);
    box-shadow: 4px 4px #558abbbc;
    color: white;
    font: inherit;
}

.gif_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

.txtsearch {
    width: 75vw;
    height: 2.5rem;
    background-color: rgba(211, 211, 211, 0.837);
    border: none;
    box-shadow: 4px 4px #558abbbc;
    margin: 1.5rem;
    padding: 2rem;
}
#btn-search {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(69, 114, 23);
    box-shadow: 4px 4px #558abbbc;
    color: white;
    font: inherit;
}
#gif-search > button:nth-child(5){
   
    width: 100%;
    background-color: red;
    height: 2.5rem;
    font: inherit;
    color: white;
   
}
#btn-reset {
    display: block;
    color: white;
    width: 100%;
}

.output {
    display: grid;
    grid-template-rows: subgrid;
}


/*
media query - for screen sizes <= 320 
*/
